.movie-list {
  padding: 0.5vw;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row wrap;
}
.movie-list li {
  flex: 1;
  width: 230px;
  margin: 0.5vw;
}
.movie-list li:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 400px) {
  .movie-list li {
    margin: 0;
  }
  .movie-list {
    padding: 0;
  }
}
