.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
  z-index: 1000;
}

.header.movie {
  display: none;
}

.header .fa-film {
  display: inline-block;
  color: white;
  font-size: 36px;
}

.header .logo {
  color: #e50914;
  font-family: "Fascinate", cursive;
  font-size: 30px;
}

.header .input-container {
  position: relative;
  padding: 0;
  margin: 0;
}

.header .fa-search {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 10px;
  height: 10px;
  color: white;
}

.header input {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
  border: solid 1px white;
  color: white;
  height: 28px;
  padding-left: 40px;
  min-height: 30px;
  font-size: 1rem;
  min-width: 200px;
}

.header input:focus {
  outline-width: 0;
}

@media only screen and (max-width: 320px) {
  .header .logo {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .header .logo {
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .header .input-container {
    display: none;
  }

  .header .fa-film {
    display: none;
  }
}
